.button-outline-primary-custom {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    /* identical to box height */
    text-align: right;
    /* Neural-1 */
    color: #3f4042;
    border: 2px solid #188181;
    border-radius: 10px;
    padding: 12px 24px;
    border: 1 solid transparent;
    &:hover{
        background-color: #188181;
        color: white;
    }
}
.button-submit-custom {
    background: #188181;
    border-radius: 10px;
    color: white;
    padding: 5px 70px;
    border: 2px solid transparent;
    &:hover{
        border:2px solid #188181;

    }
}
