.form-custom-1 {
    .form-control {
        border: 1px solid #3f4042;
        border-radius: 8px;
        color: #3f4042;
    }
    .capcha {
        span {
            white-space: nowrap;
        }
    }
}
.button-submit-custom {
    background: #188181;
    border-radius: 10px;
    color: white;
    padding: 5px 70px;
    &:hover{
        border:2px solid #188181;

    }
}
.form-group-user {
    label {
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 26px;
        color: #3f4042;
        margin-bottom: 10px;
    }
    input {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #3f4042;
    }
    .input-password {
        input {
            border: none;
            outline: none;
            &:focus{
                box-shadow: none;
            }
        }
        background: #ffffff;
        border: 1px solid rgba(63, 64, 66, 0.5);
        border-radius: 10px;
        padding: 15px 25px;
    }
}
