.section-heading {
    h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */
        text-align: center;
        text-transform: uppercase;
        /* Neural-1 */
        color: #3f4042;
    }
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 26px;
        /* Neural-1 */
        color: #3f4042;
    }
}
