footer {
    .main-footer {
        .logo-footer{
            img{
                display: block;
                max-width: 130px;
                margin: 0 auto;
            }
        }
        background: linear-gradient(174.23deg, #97c4bd 28.97%, #3b9281 96.37%);
        .list-info {
            h5 {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 23px;
                color: #013128;
                margin-bottom: 15px;
            }
            ul li ,ul li a{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #3f4042;
                text-decoration: none;
            }
        }
    }
    .bottom-footer{
        padding: 10px;
        span{
            color: white;
        }
        background-color: #025545;
    }
}
