#lien-he-contain {
    .contact-info {
        * {
            color: #ffffff;
        }
        .contain {
            background-color: #6faba1;
            height: 475px;
        }
        h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 33px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
}
