#user-page {
    border: 2px solid rgba(63, 64, 66, 0.5);
    border-radius: 0px 40px 40px 60px;
    .user-image {
        img {
            height: 290px;
            object-fit: cover;
        }
    }
    .side-bar {
        .background {
            border-radius: 0px 60px;
            padding: 90px 70px;
            background-color: #188181;
            a {
                display: block;
                color: white;
                text-decoration: none;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 26px;
                color: #ffffff;
                white-space: nowrap;
                margin-bottom: 20px;
                color: rgba(255, 255, 255, 0.5);
                &.active {
                    color: white;
                }
            }
        }
    }
    .content {
        .user-info {
            h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 30px;
                color: #3f4042;
            }
            address {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 26px;
                color: #3f4042;
                margin-bottom: 100px;
            }
            .info-detail {
                h5 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 28px;
                    color: #3f4042;
                }
                .cate-contain {
                    .label {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 26px;
                        color: #3f4042;
                    }
                    .item {
                        span {
                            &:first-child {
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#user-page {
    .user-edit {
        .change-pass {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 35px;
        }
        .top {
            .edit-user-photo {
                position: relative;
                .edit-photo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    cursor: pointer;
                    img {
                        opacity: 0;
                        transition: 0.5s;
                    }
                    &:hover {
                        background-color: #3f40426d;
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
            .user-img {
                max-width: 170px;
            }
        }
    }
}

#user-page {
    .user-edit.setting {
        .setting-key {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 26px;
            color: #000000;
        }
        .switch {
            background: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            width: 53px;
            height: 25px;
            cursor: pointer;
            position: relative;
            .switch-value {
                width: 50%;
                height: 100%;
                background-color: #188181;
                border-radius: 9px;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.5s;
                &.off {
                    left: 50%;
                    background-color: #3f4042;
                }
            }
        }
        .lang-choose {
            border: 1px solid rgba(63, 64, 66, 0.5);
            border-radius: 10px;
            .active-lang {
                background-color: #188181;
                color: white;
            }
        }
    }
}

@include responsive($md) {
    #user-page {
        border: none;
    }
    #user-page .side-bar .background {
        padding: 10px;
        border-radius: 5px;
    }
    #user-page .side-bar .background a {
        margin-bottom: 5px;
        font-size: 20px;
    }
    #user-page {
        .user-image {
            display: block;
            margin: 0 auto;
            max-width: 200px;
            margin-top: 10px;
            margin-bottom: 20px;

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}
